body {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    background-color: #F3FDE8; 

}

nav {
    background-color: #A8DF8E;
    padding: 0;
    display: flex;
    flex-direction: row;
    max-width:100%;
    height: 50;
    
    
    
    
    p {
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    background-color: #A8DF8E;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    
}



.splash h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    

    color: #573b2e;
}

.splash img{
    border-radius: 25px;
    padding: 0;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
}



.splash p:nth-child(4){
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: black;
    border-color: #CDE8E5;
    border: 1px transparent;
    margin-bottom: 30px;
  
}


.splash p:nth-child(5){
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-size: 25px;
    color: black;
    border-color: #CDE8E5;
    border: 1px transparent;
    padding:10px;
  
}

hr{
    margin-top: 0;
    border-width: 2px;
    opacity: 0.7;
}


h2{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: oblique;
  font-size: 45px;
  color: #674636
}

.education p{
    font-style: italic;
    font-size: 30px;

}

ul{
    list-style-type: circle;
    list-style-position: inside;
}

dl{
    display: grid;
    gap: 10px;  
}

a {
    color: hotpink; 
}

a:link {
    text-decoration: none;
}

a:hover {
    color: darkgreen;
}


.three-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    
}
.three-col div{
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 5px;
    padding: auto 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #d8eebf;
    text-align: center;

}
.three-col div img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px auto;
    border-radius: 8px;
}
.three-col div h3 {
    margin-bottom: 15px; 
}

.three-col div ul {
    list-style-type: none;
    padding: 0;
    margin-top: auto; 
    margin-bottom: 0; 
}
.three-col div ul li {
    margin-bottom: 10px; 
}
.three-col div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.one-col {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 23px;;
}
input, textarea, select, button {
    width: 70%;
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
    font-family: Arial, sans-serif;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    
}
input:focus, textarea:focus, select:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
    
}
textarea {
    resize: vertical; 
    min-height: 100px; 
    font-size: 30px;
}

button:hover {
    background-color: #45a049;
}

h1{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: oblique;
  font-size: 45px;
  color: #674636
}

.icon {
    border-radius: 25px;
    padding: 0;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
} 
